!!! 5
html
  head
    title= title
    link(rel='shortcut icon', href='images/github-icon.ico')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body

    #container
      #header
        a(href="/")
          #logo
        #nav

      #body
        .spacer
        .spacer

        h1= title
        h3 You're in the wrong place, pal!

        .spacer
        .spacer
        .spacer
        .spacer
        .spacer
        .spacer
        
      .spacer
      .spacer

      #footer
        #copyright
          b &copy; Github-balance, 2014
        #logo-footer
        #menu-footer
          ul
            li
              a(href="/faq") FAQ
            li
              a(href="/contact") Contact
