extends layout

block content
  #container
    #header
      a(href="/")
        #logo
      #nav
      #controls
        - if (!everyauth.loggedIn)
          a(href="/auth/github") Login
            
    #body
      #content
        h1= 'Users (' + all.length + ')'
        br
        - each u in all
          #user
            a(href='/' + u.user_name)= u.user_name
            p= u.last_seen