extends layout

block content
  #container
    #header
      a(href="/")
        #logo
      #nav
      #controls
        - if (!everyauth.loggedIn)
          a(href="/auth/github") Login
            
      #body
        #content
          h1= title
          .spacer

          .left
            h3 What is Github-balance ?
            p The purpose of this app is to quantify your contributions to the open-source
              | world. <br> Always have a measurement of your work, stay on top of
              | your friends and keep delivering great content to the world.
            p Github-connect is an open-source app built using node.js and a mongodb.
              | At the moment, our aplication is still in beta, so we encourage you to
              | help us or just send your
              a(href="/contact")= " feedback."
       
            .spacer
            h3 What are cups/tentacles ?
            p You get (suction) <b>cups</b> for different actions regarding your
              | projects and the pull requests you make. More detailes below.
              | <b>tentacles</b> represent the number of repositories that had the
              | benefit of your help, so do not settle for just one project. Diversity
              | makes us stronger.
       
            .spacer
            h3 How do I get points ?
            p Once you log in, we look over your GitHub account and reward your past
              | activities with a number of points (cups).
              h4 GitHub Points
              | * 20 cups for each initiated repo <br>
              | * 10 cups for every fork of your repo <br>
              | * 1  cup for every watcher <br>
              | * 30 cups for every merged pull request; the more stars the repo has,
              | the more points you get <br>
       
            .spacer
            h3 Can I help ?
            p Github-connect is a free, open-source project, so your help is welcomed.
              | You can get the
              a(href='https://github.com/mariuscoto/github-balance')= " repo"
              = " from GitHub."

            .spacer

          .right
            .submenu
              .submenu-item-selected FAQ
              a(href='/contact')
                .submenu-item Contact

        .spacer
