extends layout

block content
  #content
    h1= title
    .spacer

    .left
      h3 What is Github-balance ?
      p The purpose of this app is to uantify your contributions to the open-source world

    .right
      .submenu
        .submenu-item-selected FAQ
        a(href='/contact')
          .submenu-item Contact

  .spacer
