!!! 5
html(ng-app)
  head
    title= title
    link(rel='shortcut icon', href='images/github-icon.ico')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript", src='http://code.jquery.com/jquery-1.8.1.js')
    script(type="text/javascript", src='https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js')

  body
    block content
    .spacer

    #footer
      #copyright
        b &copy; Github-balance, 2014
      #logo-footer
      #menu-footer
        ul
          li
            a(href="/faq") FAQ
          li
            a(href="/contact") Contact

  block angular
  include ../public/javascripts/analytics.js
  include ../public/javascripts/social.html
